@import "../../../../styles.scss";

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-16371 .footer-site-logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.footer-16371 .nav-links {
  padding: 0;
  margin: 0;
}
.footer-16371 .nav-links li {
  display: inline-block;
}
.footer-16371 .nav-links li a {
  padding: 10px;
  //color: #000;
}
.footer-16371 .nav-links li a:hover {
  color: #3c48e7;
}
.footer-16371 .social h3 {
  font-weight: bold;
  font-size: 18px;
  //color: #000;
}
.footer-16371 .social ul li {
  display: inline-block;
}
.footer-16371 .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer-16371 .social ul li.in a {
  color: #df588a;
}
.footer-16371 .social ul li.tw a {
  color: #15b8ff;
}
.footer-16371 .social ul li.fb a {
  color: #1877F2;
}
.footer-16371 .social ul li.vk a {
  color: #4C75A3;
}
.footer-16371 .social ul li.teleg a {
  color: #0088cc;
}
.footer-16371 .copyright {
  color: #999999;
}
